body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #91c9e3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px;
}
.title {
  background-color: #045c86;
  text-align: center;
  border-radius: 6px 3px;
}
.primary-heading {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}
.container {
  box-shadow: 1px 0 5px #01283a;
}
.frame {
  position: relative;
  padding: 18px 64px;
  background-color: #edf3f7;
  border: 2px solid #045c86;
  border-radius: 4px;
}
.label {
  color: #fff;
  font-size: 18px;
  background-color: #045c86;
  padding: 8px 18px;
  border-radius: 2px;
  position: absolute;
  top: 48px;
  left: -37px;
}
.user-info {
  color: #024563;
  background-color: #e0e2e3;
  padding: 6px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #045c86;
}

.user-name-para {
  font-size: 20px;
}
.sperate-line {
  border-bottom: 1px solid #555;
}
.user-job-para {
  font-size: 20px;
}
.user-about ul {
  list-style-type: none;
  display: flex;
  gap: 12px;
}
.about:link,
.about:visited,
.skills:link,
.skills:visited,
.contact:link,
.contact:visited {
  color: #024563;
  font-size: 20px;
  text-decoration: none;
  padding: 6px 14px;
  border: 1px solid #555;
  border-radius: 4px;
}
.edited {
  justify-content: space-around;
}
.user-photo {
  position: relative;
  width: 200px;
  height: 210px;
  background-color: #bfd0e0;
  border: 2px solid #024563;
  border-radius: 100%;
}
.user-photo p {
  width: 44%;
  text-align: center;
  position: absolute;
  top: 56px;
  left: 56px;
  font-size: 24px;
}
.text-area {
  font-size: 18px;
  padding: 30px 300px 30px 20px;
  border: 1px solid #024563;
}
.skills-div {
  color: #024563;
  background-color: #e0e2e3;
  padding: 8px 18px;
  border: 2px solid #045c86;
}
.skills-div ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.skills-div ul li {
  font-size: 24px;
  padding: 8px 18px;
  border: 2px solid #024563;
}
.skills-label {
  top: 37px;
  left: -37px;
}
.contact-div {
  color: #024563;
  background-color: #e0e2e3;
  padding: 12px 30px;
  border: 2px solid #045c86;
}
.contact-user-div {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-user-div p {
  background-color: #fff;
  padding: 9px 200px 9px 20px;
  border: 2px solid #024563;
}
.empty-div {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.empty-box {
  padding: 100px 360px;
  border: 2px solid #024563;
}
.btn:link,
.btn:hover {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  background-color: #045c86;
  padding: 10px 45px;
  border-radius: 2px;
}
.btn:active,
.btn:visited {
  color: #fff;
}
.footer-div {
  color: #024563;
  background-color: #e0e2e3;
  padding: 100px 150px;
  border: 2px solid #045c86;
}
.footer .frame {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.name-links-div {
  padding: 18px 64px;
  background-color: #e0e2e3;
  border: 2px solid #024563;
  border-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name-links-div p {
  font-size: 20px;
  color: #045c86;
}
.links {
  display: flex;
  gap: 10px;
}
.links a {
  display: block;
}
.links img {
  width: 30px;
}
@media (max-width: 1000px) {
  .edited,
  .skills-div ul,
  .contact-user-div,
  .empty-div {
    flex-direction: column;
  }
  .empty-box {
    padding: 100px 200px;
  }
}
